@use '../../globals/variables' as *;

.measuring-success {
    padding-top: 20px;
    padding-bottom: 30px;

    h2 {
        color: $blue3;
        font-size: 30px;
        line-height: 100%;
        font-weight: 900;
        margin-top: 12px;
    }

    h3 {
        color: $blue2;
        font-size: 20px;
        line-height: 100%;
        font-weight: 900;
    }

    .max-wrap {
        max-width: 1296px;
    }

    &__wrap {
        @media (max-width: 991px) {
            align-items: center;
        }

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

        & > div {
            width: 100%;
        }
    }

    &__item-left {
        .measuring-success__item-inner {
            max-width: 434px;
            font-size: 18px;
            color: $grey;
            font-weight: 400;
            line-height: 25px;
            margin: auto;
        }
    }

    &__item-right {
        .flex {
            row-gap: 0;
        }

        .measuring-success__item-inner {
            margin: auto;
            max-width: 590px;
        }

        &-item {
            padding: 20px 20px 0;
            font-size: 18px;
            color: $blue4;

            @media (max-width: 767px) {
                margin-top: 24px;
                padding: 0;
                width: calc((100% - 20px) / 2);
            }

            h4 {
                margin: 0;
                color: $yellow;
                font-size: 18px;
                line-height: 100%;
                font-weight: 600;
            }
        }
    }

    &__heading {
        margin-bottom: 50px;
    }

    &__footer {
        margin-top: 40px;

        img {
            display: inline-block;
            width: 1135px;
            max-width: 100%;
        }
    }
}