$white: #ffffff;
$black: #000000;
$grey: #333333;
$grey2: #F2F2F2;
$grey3: #F4F5F6;

$blue: #02267E;
$blue2: #0072DA;
$blue3: #1B3266;
$blue4: #0F0B27;
$blue5: #37344B;
$blue6: #E1EEFB;
$blue7: #172426;

$yellow: #FDB515;

$primaryFont: "DM Sans", sans-serif;

$transition: .3s all ease-out;